@page "/about"
<h3> About </h3>

@*AQUI VA LA INFORMACION DEL GRUPO*@

<div class="col-sm-12">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th colspan="2" style="text-align:center;" scope="col">Ninja Developers</th>
            </tr>
        </thead>
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nombres</th>
                <th scope="col">Matriculas</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Lisanny Peña</td>
                <td>2019-7973</td>
            </tr>
            <tr>
                <td>Eimy Olivo</td>
                <td>2019-7830</td>
            </tr>
            <tr>
                <td>Jose Rosario</td>
                <td>2019-7807</td>
            </tr>
            <tr>
                <td>Roberto Rivera</td>
                <td>2019-7528</td>
            </tr>
        </tbody>
    </table>
</div>
@code {



 }
